.button {
  background: $queen-blue;
  border: none;
  padding: $s-size;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}
