.text-input {
  border: 1px solid #CACCCD;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}

.text-area {
  @extend .text-input;
  height: 10rem;
  font-family: Helvetica, Arial, sans-serif;
}

.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2.SingleDatePickerInput__showClearDate.SingleDatePickerInput__showClearDate_3 {
  width: 100%;
  padding-right: 0;

  .DateInput.DateInput_1 {
    width: 100%;
  }
}

.switch {
  margin-top: 12px;
  position: relative;
  display: inline-block;
  width: 13rem;
  height: 3.4rem;

  & input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.4rem;

  &::before {
    content: '';
    position: absolute;
    height: 2.6rem;
    width: 2.6rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  &::after {
    padding-top: 4px;
    padding-left: 5px;
    content: 'Ungrouped';
    color: white;
    display: block;
    position: absolute;
    transform: translate(3.2rem);
    -webkit-transform: 0.4ms;
    transition: 0.4s;
  }
}

.toggle {
  &:checked + .slider {
    background-color: $blue;
  }

  &:focus + .slider {
    box-shadow: 0 0 1px $blue;
  }

  &:checked + .slider::before {
    -webkit-transform: translateX(9.5rem);
    -ms-transform: translateX(9.5rem);
    transform: translateX(9.5rem);
  }

  &:checked + .slider::after {
    content: 'Grouped';
    padding-left: 18px;
    color: white;
    transform: translate(1rem);
    -webkit-transform: 0.4ms;
    transition: 0.4s;
  }
}

.submission-required {
  display: flex;
  align-items: center;
}

.submission-required__checkbox {
  position: relative;
  border: 1px solid $grey;
  border-radius: 4px;
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
  appearance: none;
  outline: 0;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  top: -1px;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0.8px;
    left: 4px;
    width: 6px;
    height: 10.5px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: white;
    background: $grey;

    &::before {
      opacity: 1;
    }
  }

  &:hover {
    border-color: $blue;
    border-width: 1px;
  }
}

.task-complete-checkbox {
  position: relative;
  border: 1px solid $grey;
  border-radius: 4px;
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
  appearance: none;
  outline: 0;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0.8px;
    left: 4px;
    width: 6px;
    height: 10.5px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: white;
    background: $grey;

    &::before {
      opacity: 1;
    }

    ~ .list-item__toggle {
      .list-item__title {
        color: lighten($grey-text, 20%);
      }

      .list-item__deadline {
        color: lighten($grey-text, 20%);
      }
    }
  }

  &:hover {
    border-color: $blue;
  }
}

.user-complete-checkbox {
  position: relative;
  border: 1px solid $grey;
  border-radius: 4px;
  width: 1.8rem;
  height: 1.8rem;
  top: 5px;
  appearance: none;
  outline: 0;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0.8px;
    left: 4px;
    width: 6px;
    height: 10.5px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: white;
    background: $grey;

    &::before {
      opacity: 1;
    }

    ~ .user-complete-checkbox__label {
      color: lighten($grey-text, 30%);

      &::before {
        color: rgba(0, 0, 0, 0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
}

.user-complete-checkbox__label {
  position: relative;
  user-select: none;

  &::before {
    top: -5px;
    position: absolute;
    font-size: $m-size;
    color: rgba(0, 0, 0, 0);
    align-items: center;
    content: attr(data-content);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.file-name {
  border: 1px solid lighten($grey, 20%);
  margin: $s-size;
  margin-right: 0;
  padding: $s-size;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  position: relative;
  margin-left: $s-size;
  width: 150px;
  height: 42px;

  p {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
