.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.task-modal {
  background: $light-grey;
  max-width: 80rem;
  padding: $l-size;
  width: 75vw;
  max-height: 100%;
  border-radius: 10px;
  overflow: auto;
}

.setting-modal {
  background: $light-grey;
  max-width: 80rem;
  width: 75vw;
  padding: $l-size;
  max-height: 100%;
  border-radius: 10px;
  overflow: auto;
}

.select-user-modal {
  background: $light-grey;
  max-width: 80rem;
  width: 25vw;
  padding: $l-size;
  max-height: 100%;
  border-radius: 10px;
  overflow: auto;
}

.modal {
  padding: $m-size;
  color: white;
  background: $space-cadet;
  border-radius: 5px;
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  overflow: auto;
}

.user {
  padding: auto;
  color: white;
  background: $space-cadet;
  align-content: center;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
}
