.modal {
  padding: $m-size;
  color: white;
  background: $space-cadet;
  border-radius: 5px;
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  overflow: auto;
}

.user {
  padding: auto;
  color: white;
  background: $space-cadet;
  align-content: center;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  
}