// Colors
$cyan: #CBF7ED;
$grey: #8EA8C3;
$queen-blue: #406E8E;
$prussian-blue: #23395B;
$black: #161925;
$space-cadet: #2F354E;

// Font Size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

// Spacing
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$desktop-breakpoint: 47rem;

